{% extends "layout.html.twig" %}

{% block title %}Ereur!{% endblock %}

{% block content %}
    <div class="row" id="errorPanel">
        <div class="col-xs-6">
            <h1>Whoops...<br><small>{{ message }}</small></h1>
        </div>
        <div class="col-xs-5">
            <img class="img-responsive" src="{{ asset('/pic/creepy_grumpy.jpg') }}" alt="Error cat"/>
        </div>
    </div>
{% endblock %}