{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
{% for article in articles %}
<article>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h2>{{ article.title }}</h2>
                <p id="extrait">{{ article.content }}</p>
                <button class="btn btn-default"><a  href="{{ path('article', {'id': article.id}) }}">Lire plus</a></button>
            </div>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}
