<!doctype html>
<html>
{% block stylesheets %}
    {{ include('stylesheets.html.twig') }}
{% endblock %}
<body>
<div class="container">

    {% block nav %}
    {{ include('nav.html.twig') }}
    {% endblock %}


    <div id="content">{% block content %}{% endblock %}</div>
</div>
{% block javascripts %}
        {{ include('javascript.html.twig') }}
{% endblock %}
</body>
</html>
