<!doctype html>
<html>
{% block stylesheets %}
    {{ include('stylesheets.html.twig') }}
{% endblock %}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

<title>Projet 3 - {% block title %}{% endblock %}</title>

<body>
<div class="container">

    {% block nav %}
    {{ include('nav.html.twig') }}
    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>

</div>
{% block javascripts %}
        {{ include('javascript.html.twig') }}
{% endblock %}
</body>
</html>
