body
{
    padding-top: 50px;
}

.footer
{
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus
{
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

#extrait {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.child
{
    padding-left: 10px;
}

.child1
{
    padding-left: 20px;
}

.child2
{
    padding-left: 30px;
}

